<!-- Determine classes -->
{% set class = "md-header" %} {% if "navigation.tabs.sticky" in features %} {%
set class = class ~ " md-header--shadow md-header--lifted" %} {% elif
"navigation.tabs" not in features %} {% set class = class ~ " md-header--shadow"
%} {% endif %}

<!-- Header -->
<header class="{{ class }}" data-md-component="header">
  <nav class="md-grid esi-nav-container" aria-label="{{ lang.t('header') }}">
    <!-- Button to open drawer -->
    <label class="md-header__button md-icon esi-burger-button" for="__drawer">
      {% set icon = config.theme.icon.menu or "material/menu" %} {% include
      ".icons/" ~ icon ~ ".svg" %}
    </label>

    <!-- Link to home -->
    <a
      href="{{ config.extra.homepage | d(nav.homepage.url, true) | url }}"
      class="md-header__button md-logo esi-logo"
      data-md-component="logo"
    >
      {% include "partials/logo.html" %}
    </a>

    <nav class="esi-nav-header">
      <div class="esi-nav-header-item">
        <a href="/blog">Blog</a>
      </div>
      <div class="esi-nav-header-item esi-nav-header-item-active">
        <a href="/docs/">Documentation</a>
      </div>
      <div class="esi-nav-header-item">
        <a href="/applications">Applications</a>
      </div>
      <div class="esi-nav-header-item">
        <a href="/authorized-apps">Authorized Apps</a>
      </div>
    </nav>

    <!-- Color palette toggle -->
    {% if config.theme.palette %} {% if not config.theme.palette is mapping %}
    {% include "partials/palette.html" %} {% endif %} {% endif %}

    <!-- User preference: color palette -->
    {% if not config.theme.palette is mapping %} {% include
    "partials/javascripts/palette.html" %} {% endif %}

    <!-- Site language selector -->
    {% if config.extra.alternate %} {% include "partials/alternate.html" %} {%
    endif %}

    <!-- Button to open search modal -->
    {% if "material/search" in config.plugins %}
    <label class="md-header__button md-icon esi-search-icon" for="__search">
      {% set icon = config.theme.icon.search or "material/magnify" %} {% include
      ".icons/" ~ icon ~ ".svg" %}
    </label>

    <!-- Search interface -->
    {% include "partials/search.html" %} {% endif %}

    <!-- Repository information -->
    {% if config.repo_url %}
    <div class="md-header__source esi-source">{% include "partials/source.html" %}</div>
    {% endif %}
  </nav>

  <!-- Navigation tabs (sticky) -->
  {% if "navigation.tabs.sticky" in features %} {% if "navigation.tabs" in
  features %} {% include "partials/tabs.html" %} {% endif %} {% endif %}
</header>
