<!-- Determine classes -->
{% set class = "md-header" %} {% if "navigation.tabs.sticky" in features %} {%
set class = class ~ " md-header--shadow md-header--lifted" %} {% elif
"navigation.tabs" not in features %} {% set class = class ~ " md-header--shadow"
%} {% endif %}

<!-- Header -->
<header class="{{ class }}" data-md-component="header">
  <nav class="md-grid esi-nav-container" aria-label="{{ lang.t('header') }}">
    <!-- Button to open drawer -->
    <label class="md-header__button md-icon esi-burger-button" for="__drawer">
      {% set icon = config.theme.icon.menu or "material/menu" %} {% include
      ".icons/" ~ icon ~ ".svg" %}
    </label>

    <!-- Link to home -->
    <a
      href="{{ config.extra.homepage | d(nav.homepage.url, true) | url }}"
      class="md-header__button md-logo esi-logo"
      data-md-component="logo"
    >
      {% include "partials/logo.html" %}
    </a>

    <nav class="esi-nav-header">
      <div class="esi-nav-header-item">
        <a href="/blog">Blog</a>
      </div>
      <div class="esi-nav-header-item esi-nav-header-item-active">
        <a href="/docs/">Documentation</a>
      </div>
      <div class="esi-nav-header-item">
        <a href="/api-explorer">API Explorer</a>
      </div>
      <div class="esi-nav-header-item esi-nav-header-item-dropdown">
        Applications
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-down" class="svg-inline--fa fa-angle-down fa-1x header_angleDown__Q0pUE" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" scale="1.5"><path fill="currentColor" d="M201.4 374.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 306.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"></path></svg>

        <div class="esi-nav-header-dropdown-container">
          <a href="/authorized-apps">Authorized Applications</a>
          <a href="/applications">My Applications</a>
        </div>
      </div>
      <div class="esi-nav-header-item">
        <a href="/docs/community/">Community Showcase</a>
      </div>
    </nav>

    <!-- Color palette toggle -->
    {% if config.theme.palette %} {% if not config.theme.palette is mapping %}
    {% include "partials/palette.html" %} {% endif %} {% endif %}

    <!-- User preference: color palette -->
    {% if not config.theme.palette is mapping %} {% include
    "partials/javascripts/palette.html" %} {% endif %}

    <!-- Site language selector -->
    {% if config.extra.alternate %} {% include "partials/alternate.html" %} {%
    endif %}

    <!-- Button to open search modal -->
    {% if "material/search" in config.plugins %}
    <label class="md-header__button md-icon esi-search-icon" for="__search">
      {% set icon = config.theme.icon.search or "material/magnify" %} {% include
      ".icons/" ~ icon ~ ".svg" %}
    </label>

    <!-- Search interface -->
    {% include "partials/search.html" %} {% endif %}

    <!-- Repository information -->
    {% if config.repo_url %}
    <div class="md-header__source esi-source">{% include "partials/source.html" %}</div>
    {% endif %}
  </nav>

  <!-- Navigation tabs (sticky) -->
  {% if "navigation.tabs.sticky" in features %} {% if "navigation.tabs" in
  features %} {% include "partials/tabs.html" %} {% endif %} {% endif %}
</header>
